{% extends "steam_match/base.html" %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Friend Selector</title>
</head>
<body>

<form action="" method="post">
    {% csrf_token %}

<div class="friendDiv" id = "friendDiv">
{% for info in playerInfos %}
    <div class="btn" id = {{ info.steamid }}>
        <img src={{ info.avatarfull }} class="img-responsive" >
        <p>{{info.personaname}}</p>
    </div>

{% endfor %}

</div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>




</body>
<script src={% static "steam_match/friendSelector.js" %} type="text/javascript"></script>

{% endblock %}