{% extends "steam_match/base.html" %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Friend Selector</title>
</head>
<body>

<form action="" method="post">
    {% csrf_token %}

<div class="friendDiv" id = "friendDiv">
{% for info in playerInfos %}
    <div class="btn">
        <img src={{ info.avatarfull }} class="img-responsive" >
        <p>{{info.personaname}}</p>
        <input class="selectFriend" name="selectFriend" type="checkbox" id= {{ info.steamid }} value={{ info.steamid }} style="display: none;" />
    </div>


{% endfor %}

</div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="selecedFriend" id = "selecedFriend">
{% for friend in selectedFriends %}
    <div class="btn friend">
        <img src={{ friend.avatarfull }} class="img-responsive" >
        <p>{{friend.personaname}}</p>
    </div>


{% endfor %}

</div>

<div class="limmitGames">
    <button onclick="getRandom()" class="btn btn-primary">getRandomGame</button>
    <button onclick="getMuti()" class="btn btn-primary">getMult</button>
    <button onclick="showCoOp()" class="btn btn-primary">showCoOp</button>
</div>

<div class="randomGame" id="randomGame">



</div>

<div class="commonGamesDiv" id = "commonGamesDiv">
    
{% for game in commonGames %}
    <div class="btn game show">
        <img src={{ game.header_image }} class="img-responsive" >
        <p>{{game.name}}</p>
        <div class="GameMeta" style="display: none;">

            {% for cat in game.categories %}
            <p class="catID">{{cat.id}}</p>
            <p class="catDis">{{cat.description}}</p>
            {% endfor %}

        </div>

    </div>


{% endfor %}

</div>



</body>
<script src={% static "steam_match/friendSelector.js" %} type="text/javascript"></script>

{% endblock %}