{% extends "steam_match/base.html" %}
{% block content %}
{% load static %}


<head>
    <meta charset="UTF-8">
    <title>Steam Matcher</title>
</head>
<body>

<div class="warning">
    {% if "urlNotFound" in errors  %}

        <div>
            <p>The url you submitted was not found your profile my be set to private. Make sure your URL is correct and
                try again
            </p>
        </div>
    {% elif "IdNotFound" in errors %}


    <div>
        <p>The ID you submitted was not found . Make sure your ID is correct and try again
        </p>
    </div>

    {% endif %}


</div>




<div class=steamPlayerForm id="steamPlayerForm">
    <h1>Steam Friend Game Match</h1>
    <div>
        <form action="" method="post">
            {% csrf_token %}
        <p class="title ">Input Steam ID or Steam Custom URL </p>
        <hr size="60">

            <div class="form-group row">

                <label for="InputMessage">Steam ID</label>
                <div class="col-xs-10">
                    <input class="form-control" id="steamID-text-input" rows="3" name="steamProfileID" placeholder="SteamID"></input>
                </div>
                <button type="submit" class="btn btn-primary" name="ID">Submit</button>
            </div>

            <div class="form-group row">
                <label for="InputMessage">Steam ID</label>
                <div class="col-xs-10">
                    <input class="form-control" id="steamURL-text-input" rows="3" name="steamProfileURL" placeholder="Steam Custom URL" ></input>
                </div>
                <button type="submit" class="btn btn-primary" name="URL">Submit</button>
            </div>


        </form>
    </div>
    <div class="disclaimer">
        <p>
            This website is limited by the steam api, It may break or get incomplete data for you or your friends.
        </p>

            To find your steamID or your steamUrl got to <a href="https://steamcommunity.com">www.steamcommunity.com</a> and login.
            The very last item in your browser url bar is either your steamID or your steamURL.

        <p><h4>SteamId will look something like this:</h4> </p>
            <p>https://steamcommunity.com/profiles/99999999999999999</p>
            <p>The steamID = 99999999999999999</p>

            <p><h4>SteamURL will look something like this:</h4></p>
            <p>https://steamcommunity.com/id/this_is_a_exampleURL</p>
            <p>The steamURL = this_is_a_exampleURL</p>



    </div>
</div>





</body>

{% endblock %}