{% extends "steam_match/base.html" %}
{% block content %}
{% load static %}


<head>
    <meta charset="UTF-8">
    <title>Steam Matcher</title>
</head>
<body>

<div class="warning">
    {% if "urlNotFound" in errors  %}

        <div>
            <p>The url you submitted was not found your profile my be set to private. Make sure your URL is correct and
                try again
            </p>
        </div>
    {% elif "IdNotFound" in errors %}


    <div>
        <p>The ID you submitted was not found . Make sure your ID is correct and try again
        </p>
    </div>

    {% endif %}


</div>




<div class=steamPlayerForm id="steamPlayerForm">
    <h1>Steam Friend Game Match</h1>
    <div>
        <form action="" method="post">
            {% csrf_token %}
        <p class="title ">Input Steam ID or Steam Custom URL </p>
        <hr size="60">

            <div class="form-group row">

                <label for="InputMessage">Steam ID</label>
                <div class="col-xs-10">
                    <input class="form-control" id="steamID-text-input" rows="3" name="steamProfileID" placeholder="SteamID"></input>
                </div>
                <button type="submit" class="btn btn-primary" name="ID">Submit</button>
            </div>

            <div class="form-group row">
                <label for="InputMessage">Steam ID</label>
                <div class="col-xs-10">
                    <input class="form-control" id="steamURL-text-input" rows="3" name="steamProfileURL" placeholder="Steam Custom URL" ></input>
                </div>
                <button type="submit" class="btn btn-primary" name="URL">Submit</button>
            </div>


        </form>
    </div>
</div>



</body>

{% endblock %}