{% extends "homepage/base.html" %}
{% block content %}
{% load static %}


<body>

<div class="navbar" style="background-color: black;">

    <div class="navbar-header Name">
        <h3>Nicholas Hoover</h3></div>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#about">About</a></li>
        <li role="presentation"><a href="#portfolio">Portfolio</a></li>
        <li role="presentation"><a href="#contact">contact</a></li>

    </ul>

</div>

<div class="about" id="about">

    <center>
    <div class="me-div">
        <img src="{% static "homepage/images/ME.jpeg" %}" alt="ME"/>
    </div>


            <p>
        My name is Nicholas Hoover. I'm a programmer and Portland resident.
        I Try to learn a new skill with every project I do. I made this website to show off my project and body of work
        and to carve out a little bit of the internet to call my own.
    <p>


    </center>



</div>


<div class="portfolio" id="portfolio">
    <div>

        <p class="title ">Portfolio</p>
        <hr size="30">

    </div>

    <div class="portfolio-content DD">
        <div>
            <a href="https://github.com/nicholasH/roll20Analyzer">
            <img src="{% static "homepage/images/roll20_analyzer.png" %}" alt="PDX_CODEGUILD"/>
            </a>
        </div>
        <div>

            <p>
                The D&D analyzer started as a project to teach myself Python as well as make a tool for me and my
                friends. I learned a lot from this project, I build it from the ground up and had to overcome a lot of
                challenges to get the application how I wanted to be. Python is a great language, I got very proficient
                with as I work on the D&D Analyzer.  I posted it to several D&D enthusiasts forms and got a lot of
                positive feedback. I listened to the community and made improvements to my program to fulfill suggested
                requirements.
                You can take a look at on my git hub <a href="https://github.com/nicholasH/roll20Analyzer">here</a>

            </p>


        </div>

    </div>

        <div class="portfolio-content CG">
        <div>
            <a href="https://pdxcodeguild.com/">
            <img src="{% static "homepage/images/pdx_code_guild_logo25.png" %}" alt="PDX_CODEGUILD"/>
            </a>
        </div>
        <div>

            <p>
                Code guild host open coding nights where people can come in and work on their projects.
                I help people with their projects and get work done on mine. I sometimes volunteer to lead and conduct
                the meeting. It's a fun place I go to every week to work and talked about my code.
                <a href="https://pdxcodeguild.com/">PDX code guild website</a>
            </p>


        </div>

    </div>

     <div class="portfolio-content SFGM">
        <div>
             <a href="http://www.nickhooverdata.com/steammatch/">
            <img src="{% static "homepage/images/Steam_icon_logo.png" %}" alt="STEAM_LOGO"/>
             </a>
        </div>
        <div>

            <p>
                Another tool that I made because a friend wanted an easier way of doing things.
                The Steam friend game matcher is a tool to find out what steam games you have in common with your friends.
                Users can use this tool to figure out what multiplayer games a group of people have in common so they can all play together.
                The Steam Friend Game Match is limited by the steam API.
                If the Steam API get too many requests for informant from my server there is a chance that it will stop giving my server info.
                This is bad for when people have a lot of games in common.
                <a href="http://www.nickhooverdata.com/steammatch/">Steam Friend Game Matcher</a>
            </p>



        </div>

    </div>


</div>



</div>

<div class=contact id="contact">
    <div>
        <form action="#contact" method="post">
            {% csrf_token %}
        <p class="title ">contact me</p>
        <hr size="60">

            <div class="form-group row">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        <font color="black"> {{ message }}</font></div>
                    {% endfor %}
                </ul>
                {% endif %}
                <label for="InputEmail1">Email address</label>

                <div class="col-xs-10">
                    <input class="form-control" type="text" id="email-text-input" name="email" value="" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="InputName">Name (Optional)</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" id="name-text-input" name="contact_name" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="InputNompany">Company (Optional)</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" id="company-text-input" name="company" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="InputPhone">Phone Number (Optional)</label>
                <div class="col-xs-10">
                    <input class="form-control" type="number" id="Phone-number-input" name="phone_number" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="InputMessage">Message</label>
                <div class="col-xs-10">
                    <textarea class="form-control" id="message-text-input" rows="3" name="message" value=""
                              required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            <div class="form-group row">
                <div class="col-xs-10">


                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6Le5sFkUAAAAACDYM4MQ-104-80v9HK2i-9VXoE4"></div>

                </div>
            </div>


        </form>
    </div>


    <div class=links>
        <div class="col-md-12">
            <ul class="social-network social-circle">

                <li><a href="https://www.linkedin.com/in/nicholashoover" target='_blank' class="icoLinkedin"
                       title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/nicholasH" target='_blank' class="icoGithub" title="Linkedin"><i
                        class="fa fa-github"></i></a></li>

            </ul>
        </div>
    </div>

</body>
{% endblock %}