html,body
{
   font-size: 1em ;
   color: lightBlue;
    background-color: #121212;

}
.btn {
    padding: 10px 16px;
    cursor: pointer;

}


/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
    background-color: #666;
    color: white;
}

.friendDiv{
    border-style: solid;
    border-color: lightBlue;

}

.show{
    display: inline-block;

}

.hidden{
    display: none;


}