.Name {
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 80px;


}
html,body
{
   font-size: 1em ;
   color: lightBlue;
    background-color: #121212;

}
.about{
      padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 80px;

}
.portfolio{
      padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 80px;
}

.contact{
      padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 80px;
}
.row{
  margin-top: 30px;
  margin-bottom: 30px;
}
 .title{
   font-size: 5em;
}

 input[type="text"]{

}
label {

    color: inherit;
}
.input {
    color: black
}

.portfolio-contact{
display: flex;
flex-direction: column;
}
.portfolio img {
float: left;
padding: 0 20px 20px 0;
max-width:200px;


}

.portfolio-content {
display: flex;
padding: 0 20px 20px 0;
}




p {
font-size: 150%;


}
.about img {
padding: 20px 20px 20px 20px;
}